

.container {
    align-items: center;
    width: 400px;
}
.inputContainer {
    width: 95%;
}
.input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 5%;
}

/* (Desktop)*/
@media (min-width: 1440px) {
}