@import '../../../../assets/scss/global.scss';

.container {
    width: 100%;
    min-height: 100vh;
    background-color: $app-white;
    .left {
        display: none;
        width: 736px;
        min-height: 100vh;
        padding: 50px 6%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .logo {
            width: 204px;
            height: 80px;
            margin-bottom: 100px;
            img {
                width: 160px;
                height: 80px;
            }
        }
        .hero {
            width: 100%;
        }
    }
    .right {
        width: 100%;
        min-height: 100vh;
        padding: 30px 6%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-shadow: -15px 0px 90px $app-light-shadow;
        form {
            width: 100%;
        }
        .mobLogo {
            width: 100%;
            margin-bottom: 25%;
            justify-content: center;
            img {
                width: 130px;
                height: 50px
            }
        }
        .textHeading {
            width: 100%;
            height: min-content;
            margin-bottom: 10px;
            .text {
                font-family: 'Avenir Next';
                font-weight: 700;
                font-size: 30px;
                letter-spacing: -0.04em;
            }
        }
        .smallerText {
            width: 100%;
            margin-bottom: 60px;
            .text {
                font-family: 'Avenir Next';
                font-size: 15px;
                line-height: 27.32px;
            }
        }
        .inputBox {
            margin-bottom: 24px;
            width: 100%;
            .input {
                padding: 17px 16px;
                &::placeholder {
                    font-size: 14px;
                    color: $text-lightblue-faded;
                }
            }
        }
        .forgotPw {
            font-family: 'Avenir Next';
            color: $app-coralblue;
            font-weight: 400;
            font-size: 12px;
            width: 100%;
            margin-bottom: 30px;
            letter-spacing: 0.1em;
        }
        .submit {
            justify-content: center;
            width: calc(100% - 65px);
            font-size: 14px;
            font-weight: 500;
            font-family: 'Avenir Next';
        }
    }
}

@media (min-width: 1440px) {
    .container {
        .mobLogo {
            display: none;
        }
        .left {
            display: flex;
        }
        .right {
            width: 704px;
            padding: 50px 6%;
            align-items: center;
            justify-content: center;
            .textHeading .text {
                 font-size: 40px;
            }
            .smallerText .text {
                 font-size: 20px;
            }
        }
    }
}
