@import '../../../../../assets/scss/global.scss';

.container {
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}
.stats {
    width: 100%;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 0px 5px 30px;
}
.footer {
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 1440px) {
    .stats {
        overflow-x: initial;
        padding: 0px 0px 40px;
    }
    .footer {
        justify-content: space-between;
        padding: 20px 0px;
        flex-wrap: nowrap;
    }
}