@import "/src/assets/scss/global.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
p, b, i, label {
    font-size: 14px;
    font-weight: 400;
}
div, nav {
    display: flex;
    // align-items: center;
}
a {
    text-decoration: none;
    font-family: inherit;
    display: flex;
    align-items: center;
}
button {
    all: unset;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
input, select {
    all: unset;
}
select {
    -webkit-moz-appearance: none;
    background:url('./assets/icons/caret-down.svg') 95% 50% no-repeat;
}


.app {
    width: 100%;
    height: 100%;
    background-color: $app-gray;
    position: relative;
    display: flex;
    justify-content: center;
}


/* Media Queries (Mobile)*/

/* Media Queries (Desktop)*/
@media (min-width: 1440px) {
    .page-container {
        width: 1440px;
        min-height: 100%;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
    }
    .page-body {
        width: 100%;
    }
    .guest-page-main {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    .page-main {
        width: 100%;
        height: calc(100vh - 100px);
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        overflow-y: scroll;
    }
}