@font-face {
    font-family: "Work Sans";
    src: url('./fonts/WorkSans-VariableFont_wght.ttf');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}
@font-face {
    font-family: "Avenir Next";
    src: url('./fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400 ;
}
@font-face {
    font-family: "Avenir Next";
    src: url('./fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body #root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

